body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
	background-image: url('../css/background-final.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

}

.login {
	width: 380px;
	background: rgb(192, 192, 192, 0.8);
	padding: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
	border-radius: 8px;
	height: 400px;
}

.form-box {
	text-align: center;

}

.checkbox-container {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

/* Style for the checkbox itself */
.checkbox {
	margin-right: 8px;
}

/* Style for the label text */
.checkbox-label {
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	color: #333;
}

.inline-elements-container {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
}



/* Style for the forgot password link */
.forgot-password-link {
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	margin-right: 0px;

}

/* Hover effect for the link */
.forgot-password-link:hover {
	text-decoration: underline;

}

.input-group {
	text-align: left;
	position: relative;
}

.input-field {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.submit-btn {
	width: 100%;
	padding: 10px;
	color: #fff;
	background: rgb(128, 0, 64, 0.5);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	align-items: center;
	text-align: center;
}

.submit-btn:hover {
	background: rgb(145, 0, 72);
}

.message {
	margin-bottom: 15px;
	font-weight: bold;
}

.message.error {
	color: #e74c3c;
}

.message.success {
	color: #2ecc71;
}

nav {
	top: 0;
	position: fixed;
	width: 100%;
	background-color: rgb(0, 25, 51);
	color: #ffffff;
	height: 50px;
	padding: 5px;
	z-index: 5;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

nav li {
	float: right;
	display: block;
	padding: 10px;
	color: #ffffff;
}

.navbar-title {
	float: left;
	display: block;
	font-size: 33px;
}

nav a {
	display: block;
	text-decoration: none;
	font-size: 16px;
	padding: 6px;
	letter-spacing: 0.5px;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
	color: rgb(255 246 131);
	text-decoration: none;
}

p {
	color: rgb(0, 0, 0);
	font-size: 15px;
}

a {
	color: rgb(128, 0, 128);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.password-toggle {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
}

.password-toggle i {
	font-size: 18px;
	color: #333;
}