@charset "ISO-8859-1";

body {
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
	background-image: url('../css/background-final.jpg');
	background-size: cover;
	background-position: center;
	align-items: center;
	justify-content: center;
}



.container {
	width: 380px;
	margin: 50px auto;
	padding: 40px;
	background: rgb(192, 192, 192, 0.8);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
	border-radius: 8px;
	height: 400px;
}

h2 {
	text-align: center;
	margin-bottom: 30px;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
}

.btn-submit {
	display: block;
	width: 100%;
	padding: 10px;
	background: rgb(128, 0, 64, 0.5);
	border: none;
	color: #fff;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}

.btn-submit:hover {
	background-color: #45a049;
}

.password-container {
	position: relative;
}

#roles {
	width: 200px;
	height: 30px;
	font-size: 16px;
}

.input-group {
	position: relative;
}

.password-toggle {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
}

.password-toggle i {
	font-size: 18px;
	color: #333;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#errorContainer {
    margin-bottom: 20px;
}

#passwordError {
    /* ... new styles ... */
    color: red;
}
.alert-success,
#errorContainer {
    text-align: center;
}
