<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>User Registration</title>
	<link rel="stylesheet" th:href="@{../css/forgotPassword.css}" />
	<link rel="icon" type="image/png" th:href="@{../css/mmLogo.png}"/>
	<script>
		function disableSubmitButton() {
			document.getElementById('btn-submit').disabled = true;
		}

        function showMessage(messageContainerId, message, backgroundColor) {
            var container = document.getElementById(messageContainerId);
            container.innerHTML = '<div class="alert" style="background-color:' + backgroundColor + ';">' + message + '</div>';
            setTimeout(function () {
                container.innerHTML = '';
            }, 5000); 
        }
    </script>
</head>

<body>
    <div class="container">
        <div id="success-container" th:if="${param.success}">
            <script>
                showMessage('success-container', 'Email sent to you to Reset Password. Please check Spam folder if mail not visible!', 'green');
            </script>
        </div>
        <div id="error-container" th:if="${param.error}">
            <script>
                showMessage('error-container', 'Token Expired. Please click on Forgot Password again.', 'red');
            </script>
        </div>
        <h2>Forgot Password</h2>
        <form action="/forgotPassword" method="post" onsubmit="disableSubmitButton()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit" id="btn-submit" class="btn-submit">Submit</button>
        </form>
        <p><a th:href="@{/login}" style="text-decoration: none;"> Cancel</a></p>
    </div>
</body>

</html>
